.container {
  width: 270px;
  height: 240px;
}

// Time value slider
.sliceHorizontal {
  position: absolute;
  top: 220px; // position
  right: -7px;

  .horizontal-slider {
    width: 225px; // control this for length of horiz
    height: 50px;

    .example-track {
      top: 13px;
      height: 0px;
      // height: 3px;
    }

    .example-thumb {
      width: 15px;
      height: 30px;

      &.disabled {
        background-color: grey;
      }
    }
  }
}

.example-track {
  position: relative;
  background: black;
}

.example-thumb {
  background-color: rgb(220, 84, 59);
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 4px;

  &:nth-last-child(1) {
    z-index: 2 !important;
  }
  &:focus-visible {
    outline: 0;
  }
}

.sliceHorizontalBar {
  position: absolute;
  top: 233px;
  right: 0px;
  height: 3px;
  width: 212px;
  background-color: black;
}

.textHoriz {
  position: absolute;
  top: 250px;
  right: 80px;

  p {
    margin: 0;
  }
}

.test1{
  position: absolute;
  top: 250px;
}