.chartBarContainer {
  display: flex;
  position: relative;
  // background-color: aquamarine;
  // width: 240px;
  height: 212px;
  margin-top: 15px;

  .barImg {
    position: absolute;
    right: 0;
  }
}