.chartTimeContainer {
  display: flex;
  position: relative;
  background-color: aqua;
  width: 270px;
  height: 240px;
}

.chartTime {
  position: absolute;
  right: 0;
}

// A value slider
.sliceVertical {
  position: absolute;
  top: 55px;         // position
  right: 200px;
  .vertical-slider {
    height: 165px;   // control this for length of vert
    width: 50px;
    .example-track { // line
      left: 14px;
      // width: 3px;
      width: 0px;
    }
    .example-thumb { // dot
      width: 30px;
      height: 15px;
    }
  }
}

// Time value slider
.sliceHorizontal {
  position: absolute;
  top: 220px;         // position
  right: 3px;
  .horizontal-slider {
    width: 215px;    // control this for length of horiz
    height: 50px;
    .example-track {
      top: 13px;
      // height: 3px;
      height: 0px;
    }
    .example-thumb {
      width: 15px;
      height: 30px;
    }
  }
}

.example-track {
  position: relative;
  background: black;
}
.example-thumb {
  background-color: rgb(220, 84, 59);
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 4px;
  &:focus-visible {
    outline: 0;
  }
}

.sliceVerticalBar {
  position: absolute;
  top: 12px;
  right: 234px;
  height: 200px;
  width: 3px;
  background-color: black;
}
.sliceHorizontalBar {
  position: absolute;
  top: 233px;
  right: 10px;
  height: 3px;
  width: 200px;
  background-color: black;
}
.textVert {
  position: absolute;
  top: 100px;
  right: 255px;
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    margin: 0;
  }
}
.textHoriz {
  position: absolute;
  top: 250px;
  right: 80px;
  p {
    margin: 0;
  }
}
