.mathContentContainer {
  margin-left: 30px;

  .mathjaxRow1 {
    display: flex;
    // gap: 20px;
    justify-content: space-around;
    background: white;
  }

  .mathjaxRow2 {
    display: flex;
    // gap: 50px;
    justify-content: space-around;
    background: white;
  }

  .mathjax {
    text-align: left;
    padding: 10px 0;
    background: white;

    mjx-container {
      text-align: left !important;
      display: inline !important;
    }
  }
}