.mathjaxRow1 {
  display: flex;
  // gap: 20px;
  justify-content: space-around;
}
.mathjaxRow2 {
  display: flex;
  // gap: 50px;
  justify-content: space-around;
}
.mathjax{
  text-align: left;
  margin: 10px 0;
  mjx-container {
    text-align: left !important;
    display: inline !important;
  }
}