body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

/* tutorial text class */
.sm-botom {
  font-size: 12px;
  position: relative;
  bottom: -3px;
}
.sm-top {
  font-size: 12px;
  position: relative;
  top: -7px;
}
.txt-red {
  color: rgb(220, 84, 59);
}
.txt-black{
  color: black !important;
}