.container {
  // width: 270px;
  // height: 240px;
  z-index: 1;
}

.vertBtnGroup {
  position: absolute;
  top: 0px;
  right: 252px;
  z-index: 1;

  display: flex;
  flex-direction: column;
  width: 50px;
  gap: 6px;

  .btnUp {
    height: 40px;
    font-size: 30px;
    border: none;
    border-radius: 6px;
    background: #ddd;
    cursor: pointer;
    user-select: none;
    &:active {
      background: #bbb;
    }
  }
  .btnDown {
    height: 40px;
    font-size: 30px;
    border: none;
    border-radius: 6px;
    background: #ddd;
    cursor: pointer;
    user-select: none;
    &:active {
      background: #bbb;
    }
  }
}

// A value slider
.sliceVertical {
  position: absolute;
  bottom: 87px;
  right: 151px;
  rotate: -90deg;

  .vertical-slider {
    height: 225px; // control this for length of vert
    width: 50px;

    .example-track {
      // line
      left: 14px;
      width: 0px;
      // width: 3px;
    }

    .example-thumb {
      // dot
      width: 30px;
      height: 15px;

      &:nth-last-child(1) {
        z-index: 2 !important;
      }

      &.disabled {
        background-color: grey;
      }
    }


  }
}

.sliderback {
  border: 3.5px solid #808080; 
  border-top: 0px; 
  border-right: 0px; 
  border-left: 0px; 
  position: absolute; 
  top: 15.7px; 
  left: 9px; 
  width: 212px; 
}


.example-track {
  position: relative;
  background: black;
}

.example-thumb {
  background-color: rgb(220, 84, 59);
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 4px;

  &:focus-visible {
    outline: 0;
  }
}

.sliceVerticalBar {
  position: absolute;
  top: 0px;
  right: 234px;
  height: 212px;
  width: 3px;
  background-color: black;
}

.textVert {
  position: absolute;
  top: 100px;
  right: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: max-content;
  font-weight: 600;

  p {
    margin: 0;
  }
}