.container {
  color: red;
}

.reactionDrawContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 30px;
}
.reactionMathContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 30px;
}


.barContainer {
  display: flex;
  position: relative;
  background-color: aquamarine;
  width: 220px;

  .barImg {
    position: absolute;
  }
}