.container {
  color: red;
}

.reactionContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.barContainer {
  display: flex;
  position: relative;
  background-color: aquamarine;
  width: 220px;

  .barImg {
    position: absolute;
  }
}