.OrderMenuContainer {
  position: absolute;
  top: 80px;
  right: 50px;
  background: white;
  z-index: 200;

  .dropDownBtn {
    width: 30px;
    height: 30px;
    display: inline-block;
    position: relative;
    bottom: -5px;
    border: 2px solid black;
    transition: 0.4s ease;

    &:before {
      position: absolute;
      content: "";
      display: inline-block;
      width: 12px;
      height: 2px;
      background-color: black;
      transition: 0.4s ease;
      transform: rotate(45deg) translate(-50%, -50%);
      left: 25%;
      top: 80%;
    }

    &:after {
      position: absolute;
      content: "";
      display: inline-block;
      width: 12px;
      height: 2px;
      background-color: black;
      transition: 0.4s ease;
      transform: rotate(135deg) translate(-50%, -50%);
      top: 75%;
      left: 22%;
    }

    &.active {

      &:before {
        transform: rotate(-45deg) translate(6px, -11px);
      }

      &:after {
        transform: rotate(225deg) translate(4px, 11px);
      }
    }
  }

  .OrderMenuPanel {
    transition: all 500ms;
    opacity: 1; // animation
    height: 0; // animation
    background-color: aquamarine;
    overflow: hidden;
    position: absolute;
    right: 0;

    &.active {
      opacity: 1; // animation
      height: 100px; // animation
    }
  }
}