.WatchMenuContainer {
  position: absolute;
  top: 120px;
  right: 50px;
  background: white;
  z-index: 200;

  .closeIcon {
    text-decoration: none;
    background: transparent;
    box-shadow: none;
    box-sizing: border-box;
    cursor: pointer;

    width: 30px;
    height: 30px;
    position: relative;
    margin: 0;

    &:before {
      content: "";
      position: absolute;
      height: 2px;
      width: 18px;
      background-color: black;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) rotate(0deg);
      transition: ease-out .3s all;
    }

    &:after {
      content: "";
      position: absolute;
      height: 2px;
      width: 18px;
      background-color: black;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) rotate(90deg);
      transition: ease-out .3s all;
    }

    &.active {
      &:before {
        transform: translate(-50%, -50%) rotate(135deg);
      }

      &:after {
        transform: translate(-50%, -50%) rotate(225deg);
      }
    }
  }

  .WatchMenuPanel {
    transition: all 500ms;
    opacity: 1;     // animation
    height: 0;      // animation
    background-color: aquamarine;
    overflow: hidden;
    position: absolute;
    right: 0;

    &.active {
      opacity: 1;   // animation
      height: 100px; // animation
    }
  }
}